/* ImageTable.css */
.table-con {
    overflow: auto; /* Make the table scrollable horizontally on small screens */
    width: 100%;
    margin: 0 auto;
  }
  
  .tt {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  /* .table-row {
    position: relative; /* Necessary for the icon positioning */
  /* } */ */
  
  .delete-icon {
    display: none;
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* .table-row:hover .delete-icon {
    display: block;
  } */
  
  @media screen and (max-width: 600px) {
    .th {
      font-size: 14px;
      padding: 6px;
    }
  }
  